* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.filesContent {
    margin: 350px 20px;
}

.uploadFilesBlock {
    border: 2px solid green;
    max-height: 500px;
    text-align: center;
    margin: 50px 0px 0px 350px;
    padding: 20px;
}

#fileInp {
    margin: 30px 0px;
    font-size: 25px;
}


#uploadBtn {
    font-size: 25px;
    display: none;
    margin: 20px 0px;
}

.fileImg i {
    font-size: 40px;
}

.fileImg img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.fileBlock {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: flex-end;
}

.fileBlock h3 {
    margin-right: 20px;
}

.persent {
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    top: 0px;
    left: 40%;
    color: red;
}

.progressBar {
    position: relative;
    width: 200px;
    border: 2px solid darkgray;
    height: 25px;
    margin: 0px 30px;
}

.progressPercentage {
    background-color: darkgrey;
    height: -webkit-fill-available;
    width: 0%;
} 

